/*
  tailwind-ish
*/

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 1rem;
  align-items: flex-start;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-x-4 {
  column-gap: 2rem;
}

.gap-x-8 {
  column-gap: 4rem;
}


.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0px;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-8 {
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mx-2 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 2rem;
}

.px-2 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.font-large {
  font-size: large;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media (min-width: 768px) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 3 columns if on desktop, 2 column if on mobile */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media (min-width: 768px) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/*
  pricing and tiers
*/

.pricing {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 1rem;
}

@media (min-width: 768px) {
  .pricing {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.tiers {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

@media (min-width: 768px) {
  .tiers {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tier {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: rgb(203 213 225);
  border-style: solid;
  padding: 1rem;
  text-align: center;
}

.tier--header {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.tier--price {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.tier--priceCaption {
  font-size: 0.75rem;
  line-height: 1rem;
}

.tier--priceCaption div {
  margin-bottom: 0.25rem;
}

.tier--features {
  text-align: left;
  margin-bottom: 0.5rem;
}

.highlight {
  color: rgb(59 130 246);
}

/*
  admonitions
*/

.md-typeset .admonition,
.md-typeset details {
  font-size: inherit;
}

.admonition.abstract p,
.admonition.abstract ul {
  font-size: large;
}
[dir="ltr"] .md-typeset .admonition.abstract .admonition-title {
  padding-left: 0.6rem;
  text-align: center;
}
.admonition.abstract .admonition-title::before {
  display: none;
}
.md-typeset .admonition.abstract > :last-child {
  margin-bottom: 1.25rem;
}

/*
  tables
*/

.md-typeset table:not([class]) {
  font-size: inherit;
  line-height: inherit;
}

.md-typeset table:not([class]) td {
  vertical-align: middle;
}

.md-typeset table:not([class]) th {
  white-space: nowrap;
  min-width: 5rem;
}

/*
  circular images
*/

.person {
  display: grid;
  align-items: center;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 1rem;
}

.person--image {
  border-radius: 50%;
  border: 4px solid #4350af;
  background-color: white;
}

.logo--image {
  border-radius: 50%;
  border: 4px solid #4350af;
  background-color: white;
}

/*
  interactive tables
*/

.handsontable .htDimmed {
  color: #000;
}
.handsontable {
  z-index: 0;
}

#emailModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/*
  email subscription modal
*/

#emailModal > div {
  background-color: #fefefe;
  color: #111;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 67%;
  max-width: 960px;
}

#emailModal p,
#emailModal h2 {
  margin-top: 0;
}

#emailModal p:last-child {
  margin-bottom: 0;
}

#emailInput {
  color: #111;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

#submitEmail {
  width: 100%;
}

/*
  card display of images for videos
*/

a.video-card > img {
  filter: drop-shadow(0 0 0.1rem #1c1c1c);
  border-radius: 0.1rem;
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

a.video-card:hover > img {
  filter: brightness(0.85) drop-shadow(0 0 0.1rem #1c1c1c);
}

/*
  blog
*/
.md-typeset .blog-post-description {
  margin-bottom: 0;
}

/*
  assorted
*/

.whitespace-nowrap {
  white-space: nowrap;
}

h1.h1-with-author {
  margin: 0;
}

.twitter {
  color: #1da1f2;
}

.youtube {
  color: #ff0000;
}

h1.title {
  /* color: white; */
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.md-typeset a {
  font-weight: bold;
}

.md-banner__inner {
  text-align: center;
}

.md-banner__inner a {
  color: white;
}

#mc_embed_signup input.email {
  width: auto !important;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.25rem;
}

@media (min-width: 768px) {
  .testimonials {
    grid-template-columns: 1fr 1fr;
  }
}

.primary-swapped-bg-fg .md-button--primary {
  background-color: #D17A28;
  color: var(--md-primary-bg-color);
  border-color: #D17A28;
  border-radius: 0.5rem;
}

.primary-swapped-bg-fg .md-button--primary:hover {
  color: var(--md-primary-bg-color)
}

.disabled-button {
  pointer-events: none;
}

.primary-swapped-bg-fg {
  background-color: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color)
}

.primary-swapped-bg-fg a {
  color: var(--md-primary-bg-color)
}

/* swap order of elements on desktop */
.swap-last {
  order: 9999;
}

@media (min-width: 768px) {
  .swap-last {
    order: -9999;
  }
}

.swap-first {
  order: -9999;
}

@media (min-width: 768px) {
  .swap-first {
    order: 9999;
  }
}
