h1.title {
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

.subtitle {
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}

.md-typeset a {
  font-weight: bold;
}

.md-banner__inner {
  text-align: center;
}

.md-banner__inner a {
  color: white;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 1rem;
  align-items: flex-start;
}

.pricing {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1rem;
  align-items: flex-start;
}

.tier {
  color: black;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.tier--header {
  font-weight: bold;
  font-size: large;
}



.person {
  display: grid;
  align-items: center;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
}
